@import "primer/index.scss";


body {
  background-color: #fafafa;
  padding: 20px;
}


.house-header {
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.house-caption {
  color: gray;
  font-size: 14px;
}

.house-description {
  color: black;
  font-weight: 800;
  font-size: 16px;
}
